@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f0f0f0;
    color: #0f0f0f;
}

.top__index {
    width: 100%;
    height: 450px;
    background-image: url(https://www.vsnb.com/sites/default/files/2022-07/Linkedin%20%282%29.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px #0f0f0f, 0 0 1em #ffffff, 0 0 0.2em #a0a0a0;
    
}
.top__index .textarea {
    font-size: larger;
    text-align: end;
    text-decoration: underline;
    font-style: italic;
    font-variant: small-caps;

    padding-top: 20%;
    padding-right: 14%;
}

.navbar {
    width: 100%;
    height: 42px;
    background-color: #0f0f0f;
    color: #f0f0f0;
}
.navbar li {
    display: inline;
    padding: 0 12px;
}

.container {
    margin: 5% 10%;
    text-align: justify;
}
.container h1 {
    margin-top: 5%;
    color: #001e7d;
}
.container h3 {
    margin: 3% 5%;
    text-decoration: underline dotted;
    color: #3e7eeb;
}
.container p {
    text-indent: 10%;
    font-size: 14px;
}

footer {
    width: 100%;
    height: 64px;
    background-color: #0f0f0f;
    color: #f0f0f0;
    
}
footer h6 {
    font-size: 14px;
    text-align: center;
    padding-top: 18px;
}